/node_modules
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
Thumbs.db
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
.env
.env.backup
.env.production
.git
.gitignore
.gitattributes
README.md
docker-compose*.yml
Dockerfile*
.dockerignore